html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}
body {
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.header{
    padding: 15px 15px;
    width: 100%;
    background: #9c16ae;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: white;
}

.header-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-icon {
    fill: white;
    cursor: pointer;
}

.header-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%; /* Изменено на 100%, чтобы занимать всю ширину */
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.chat {
    flex: 1;
    width: 100%; /* Изменено на 100%, чтобы занимать всю ширину */
    max-width: 800px; /* Максимальная ширина для чата */
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form {
    min-width: 100%;
    max-width: 800px; /* Ограничение максимальной ширины */
    display: flex;
    margin-bottom: 20px;
    position: relative;
    align-items: center;
    gap: 5px;
    padding: 0 20px;
}

.form-icon  {
    background: wheat;
    padding:8px;
    border-radius: 10px;
    fill: #5f6368;
    cursor: pointer;
}


.message {
    color: red;
    border-radius: 4px;
    margin: 4px 0;
    padding: 4px;
}

input[type=submit] {
    visibility: collapse;
}

input {
    padding: 20px;
    min-width: 100%;
    border: 0;
    outline: none;
    border: 1px solid rgba(25, 25, 25, 0.32);
    border-radius: 20px;
}

.message-wrap {
    display: flex;
    flex-direction: column;
    background: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-word;
}

.message-element {
    padding-left: 5px;
}
